:root {
    --primary-color: #a2e2d4;
    --secondary-color: #56A996;
    --tertiary-color: #A95669;
    --alternative-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

header {
    padding: 15px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
font-weight: bold;
font-size: 36px;
color: var(--primary-color);
text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

header a {
text-decoration: none;
color: var(--alternative-color);
}

header nav {
    margin: 10px 0px 0px 0px;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: right;
list-style: none;
}

header nav ul li a {
padding: 10px 15px;
font-weight: bold;
font-size: 2vw;
}

header nav ul li a:hover {
color: var(--primary-color);
border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
}

.intro {
    width: 30%;
    color: var(--tertiary-color);
}

.portrait img {
    width: 40vw;
    margin: 0;
    background-color: var(--primary-color);
    background-attachment: fixed;
}

.body-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.languages-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--tertiary-color);
    font-weight: bold;
    margin: 10px;
    width: 25%;
    flex: 0 1;
}

.languages-tools h4 {
    font-size: 30px;
    font-style: italic;
    margin: 20px 0;
}

.languages article {
    padding: 5px;
}

.tools article {
    padding: 5px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 50%;
}

.projects-section article {
    margin: 20px;
    color: var(--tertiary-color);
}

.projects-section div {
    
}

.projects-section div img {
    max-width: 100%;
    max-height: 100%;
}