:root {
    --primary-color: #79C9B7;
    --secondary-color: #56A996;
    --tertiary-color: #A95669;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

header {
        padding: 20px 10px;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

header h1 {
    display: flex;
    margin: 0 auto 20px auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}

header nav ul li {
    padding: 20px;
    list-style: none;
}

.portrait img {
    width: 30%;
    margin: 0;
    background-color: var(--tertiary-color);
    border-radius: 20px;
}